{% set ext = theme_var('qboss_prod_mode') ? '.min' : '' %}

<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('theme://css/kube' ~ ext ~ '.css', 100) %}
        {% do assets.addCss('theme://css/font-montserrat' ~ ext ~ '.css', 99) %}
        {% do assets.addCss('theme://css/font-lato' ~ ext ~ '.css', 98) %}
        {% do assets.addCss('theme://css/font-inconsolata' ~ ext ~ '.css', 97) %}
        {% do assets.addCss('https://use.fontawesome.com/releases/v5.0.13/css/all.css', 96) %}
        {% do assets.addCss('theme://css-compiled/theme' ~ ext ~ '.css', 01) %}
        {% do assets.addCss('theme://css/custom.css', 00) %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.addJs('jquery', 100) %}
        {% do assets.addJs('theme://js/kube' ~ ext ~ '.js', 99)%}
        {% do assets.addJs('theme://js/jquery.stellar.min.js', 98)%}
        {% do assets.addJs('theme://js/theme.js', 01)%}
    {% endblock %}
    {{ assets.js() }}

{% endblock head%}
</head>
<body class="{{ header.body_classes }}">
    <section id="loader">
    </section>

    {% block splash %}{% endblock %}

    {% block header %}
        {% include 'partials/header.html.twig' ignore missing %}
    {% endblock %}

    {% block hero %}{% endblock %}

    {% block messages %}
        {% include 'partials/messages.html.twig' ignore missing %}
    {% endblock %}

    {% block main %}{% endblock %}

    {% block footer %}
        {% include 'partials/footer.html.twig' ignore missing %}
    {% endblock %}

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}
</body>
</html>
