{% extends 'partials/fragment.html.twig' %}

{% block container %}
    <div class="error-row row">
        <div class="col push-center push-middle">
            <h2>{% if page.header.show_heading %}{{page.header.title}}{% else %}{{ 'QBOSS.ERROR.TITLE'|t }} {{ page.header.http_response_code }}{% endif %}</h1>
            <h3>{% if page.header.show_heading and page.header.subtitle %}{{page.header.subtle}}{% else %}{{ 'QBOSS.ERROR.MESSAGE'|t }}{% endif %}</h2>
            <div>{{ page.content }}</div>
        </div>
    </div>
{% endblock %}